<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{cliente.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/clientes/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{cliente.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}"
				th:object="${cliente}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{usuario.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" autofocus="autofocus"
							th:field="*{nome}" th:placeholder="#{usuario.nome.label}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.email.label}" for="email"></label> 
						<input type="text" class="form-control" id="email" autofocus="autofocus"
							th:field="*{email}" th:placeholder="#{usuario.email.label}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{usuario.senha.label}" for="senha"></label> 
						<input type="text" class="form-control" id="senha"
							th:placeholder="#{usuario.senha.label}" autofocus="autofocus"
							th:field="*{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" th:readonly="${cliente.id != null}"/>
							
						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.cpf.label}" for="cpf"></label> 
						<input type="text" class="form-control" id="cpf" th:field="*{cpf}"
							autofocus="autofocus" placeholder="___.___.___-__"
							th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" 
							data-mask="000.000.000-00" data-mask-reverse="true" />
							
						<div class="invalid-feedback">
							<span th:errors="*{cpf}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.nascimento.label}" for="nascimento"></label> 
						<input type="date" class="form-control" id="nascimento"
							th:placeholder="#{usuario.nascimento.label}" autofocus="autofocus"
							th:field="*{nascimento}"
							th:classappend="${#fields.hasErrors('nascimento')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{nascimento}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.telefone.label}" for="telefone"></label> 
						<input type="text" class="form-control" id="telefone" th:field="*{telefone}"
							autofocus="autofocus" placeholder="(__)_____-____"
							th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" 
							data-mask="(00)00000-0000" />
							
						<div class="invalid-feedback">
							<span th:errors="*{telefone}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{usuario.sexo.label}" for="sexo"></label> 
						<input type="text" class="form-control" id="sexo"
							th:placeholder="#{usuario.sexo.label}" autofocus="autofocus"
							th:field="*{sexo}"
							th:classappend="${#fields.hasErrors('sexo')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{sexo}"></span>
						</div>
					</div>


				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>